<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recherche
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-toolbar>
      <ion-searchbar placeholder="Artiste" type="text" (keyup.enter)="onSearchArtist($event)"></ion-searchbar>
    </ion-toolbar>


<!--  *ngFor boucle sur artists et refait les mêmes composants à chaque fois-->
  <ion-card *ngFor="let artist of artists" (click)="onClickCard(artist)">
    <ion-card-header>
      <ion-img src="{{artist.picture_medium}}"></ion-img>
      <ion-card-title>{{artist.name}}</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
